<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>cms系统</title>

    <script src="/js/static/documentCSS.js"></script>
    <script src="/js/static/documentJS.js"></script>
    <script src="/js/static/main.js"></script>

    <style>
        html{
            height: 100%;
        }

        body{
            height:100%;
        }

        #main-content{
            height: 100%;
            margin-left: 180px;
        }

        .wrapper{
            height: 100%;
        }

        aside a{
            cursor: pointer;
        }
    </style>
</head>
<body style="overflow: hidden;">
<section id="container">
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <a href="index.html" class="logo">CMS<span>系统</span></a>
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder="Search">
                </li>
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="img/avatar_mini4.jpg">
                        <span class="username">Jhon Doue</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>
                        <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <li class="sb-toggle-right">
                    <i class="fa  fa-align-right"></i>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>

    <aside>
        <div id="sidebar" class="nav-collapse ">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="/req/main">
                        <i class="fa fa-dashboard"></i>
                        <span>主页</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>客户端文件管理</span>
                    </a>
                    <ul class="sub">
                        <li><a onclick="latestClientMana('/req/appClient.do')">最新客户端管理</a></li>
                        <li><a onclick="latestClientMana('/req/plists.do')">plist文件管理</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>
                        <span>静态文件管理</span>
                    </a>
                    <ul class="sub">
                        <li><a onclick="latestClientMana('/req/staticPages.do')">页面文件管理</a></li>
                        <li><a href="">图片文件管理</a></li>
                        <li><a href="">其他文件管理</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>
                        <span>单点登录管理</span>
                    </a>
                    <ul class="sub">
                        <li><a href="">用户管理</a></li>
                        <li><a href="">角色管理</a></li>
                        <li><a href="">权限管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>

    <section id="main-content">
        <section class="wrapper"></section>
    </section>
</section>
</body>
</html>